POSTGRES_USER=root
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=roboguide
# DATABASE_URL=postgresql+psycopg://root:rootpassword@localhost:5432/roboguide
# DATABASE_URL=postgresql+psycopg://root:rootpassword@host.docker.internal:5432/roboguide
DATABASE_URL=postgresql+psycopg://root:rootpassword@db:5432/roboguide
PORT=9000
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
COGNITO_CLIENT_NAME=NOTREQUIRED
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=